* {
  min-height: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: 14px 'DejaVuSansM Nerd Font';
}

window#waybar {
  background: #222831;
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
  background: #222831;
  border: 2px solid #C04E21;
}

#workspaces button {
  padding: 2px;
  color: #5E936C;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background: #5E936C;
  color: #1d2021;
  font-weight: bold;
}

#workspaces button.urgent {
  background: #C04E21;
  color: #1d2021;
  font-weight: bold;
}

#idle_inhibitor,
#mode,
#clock,
#tray,
#cpu,
#temperature,
#memory,
#battery,
#network,
#backlight,
#wireplumber,
#custom-power {
  padding: 4px 8px;
  color: #5E936C;
}

#idle_inhibitor.activated {
  box-shadow: inset 0 2px #C04E21;
}

#clock {
  font-weight: bold;
}

#battery.warning {
  background: #F1D302;
  color: #1d2021;
  box-shadow: inset 0 2px #C04E21;
}

#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical {
  background: #C04E21;
  color: #1d2021;
  box-shadow: inset 0 2px #F1D302;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #C04E21;
}
