* {
  min-height: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: 'DejaVuSansM Nerd Font';
  font-size: 14px;
}

tooltip {
  background-color: #222831;
}

#waybar {
  background-color: #222831;
}

#workspaces button {
  padding: 2px;
  margin: 4px;
  color: #5E936C;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: #5E936C;
  color: #1d2021;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #C04E21;
  color: #1d2021;
  font-weight: bold;
}

#clock,
#tray,
#cpu,
#temperature,
#memory,
#battery,
#network,
#wireplumber {
  color: #5E936C;
  padding: 2px;
  margin: 4px;
}

#clock {
  font-weight: bold;
}

#battery.warning {
  background-color: #F1D302;
  color: #1d2021;
  border-bottom: 2px dotted #C04E21;
}

#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical {
  background-color: #C04E21;
  color: #1d2021;
  border: 2px solid #F1D302;
}
