* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'DejaVuSansM Nerd Font';
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background-color: #023047;
}

tooltip {
  background-color: #023047;
  border: 2px solid #7cc6fe;
}

#clock,
#tray,
#cpu,
#temperature,
#memory,
#battery,
#network,
#wireplumber {
  margin: 6px;
  color: #c7f9cc;
}


#workspaces button {
  margin: 4px 2px;
  padding: 4px;
  color: #124e78;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: #124e78;
  color: #c7f9cc;
  border-bottom: 2px solid #DC602E;
}

#workspaces button.urgent {
  background-color: #C04E21;
  font-weight: bold;
  color: #1d2021;
}

#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical {
  background-color: #C04E21;
  border: 2px dotted #F1D302;
  color: #1d2021;
}


#battery.warning {
  background-color: #F1D302;
  border: 2px dotted #C04E21;
  color: #1d2021;
}
