* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'DejaVuSansM Nerd Font';
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background-color: #023047;
}

tooltip {
  background-color: #023047;
  border: 2px solid #7cc6fe;
}

#clock,
#tray,
#cpu,
#temperature,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 6px;
  color: #c7f9cc;
}


#workspaces button {
  margin: 4px;
  color: #124e78;
  border-bottom: 2px solid #7cc6fe;
}

#workspaces button:hover {
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  color: #c7f9cc;
  background-color: #124e78;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #fb8500;
  color: #1d2021;
}

#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical,
#battery.urgent {
  background-color: #fb8500;
  border: 2px dotted #ffb703;
  color: #1d2021;
}
