[language-server]
gopls = { config = { local = "goimports", gofumpt = true, semanticTokens = true, staticcheck = true } }
postgres-language-server = { command = "postgrestools", args = ["lsp-proxy"] }
docker-langserver = { command = "docker-langserver", args = [
  "start",
  "--stdio",
  "-",
] }
docker-compose-langserver = { command = "docker-compose-langserver", args = [
  "start",
  "--stdio",
  "-",
] }
golangci-lint-lsp = { config = { command = [
  "golangci-lint",
  "run",
  "--output.json.path",
  "stdout",
  "--show-stats=false",
  "--issues-exit-code=1",
] } }
biome = { command = "biome", args = ["lsp-proxy"] }
marksman = { command = "marksman", args = ["server"] }

[[language]]
name = "javascript"
language-servers = ["typescript-language-server", "biome"]
formatter = { command = "biome", args = [
  "check",
  "--write",
  "--stdin-file-path",
  "source.js",
] }

[[language]]
name = "typescript"
language-servers = ["typescript-language-server", "biome"]
formatter = { command = "biome", args = [
  "check",
  "--write",
  "--stdin-file-path",
  "source.ts",
] }

[[language]]
name = "tsx"
language-servers = ["typescript-language-server", "biome"]
formatter = { command = "biome", args = [
  "check",
  "--write",
  "--stdin-file-path",
  "source.tsx",
] }

[[language]]
name = "jsx"
language-servers = ["typescript-language-server", "biome"]
formatter = { command = "biome", args = [
  "check",
  "--write",
  "--stdin-file-path",
  "source.jsx",
] }

[[language]]
name = "json"
language-servers = ["vscode-json-language-server", "biome"]
formatter = { command = "biome", args = [
  "check",
  "--write",
  "--stdin-file-path",
  "source.json",
] }

[[language]]
name = "markdown"
language-servers = ["marksman"]
formatter = { command = "prettier", args = ["--parser", "markdown"] }

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "biome"]
formatter = { command = "biome", args = [
  "check",
  "--write",
  "--stdin-file-path",
  "source.html",
] }

[[language]]
name = "css"
language-servers = ["vscode-css-language-server", "biome"]
formatter = { command = "biome", args = [
  "check",
  "--write",
  "--stdin-file-path",
  "source.css",
] }

[[language]]
name = "sql"
formatter = { command = "pg_format", args = [
  "--function-case",
  "1",
  "--keyword-case",
  "2",
  "--type-case",
  "1",
  "--wrap-limit",
  "80",
  "--no-space-function",
  "--tabs",
  "--keep-newline",
  "-",
] }
language-servers = ["postgres-language-server"]

[[language]]
name = "go"
roots = ["go.mod", "go.sum", "main.go"]
language-servers = ["gopls", "golangci-lint-lsp"]

[[language]]
name = "bash"
indent = { tab-width = 4, unit = "\t" }
formatter = { command = "shfmt" }

[[language]]
name = "toml"
language-servers = ["taplo"]
formatter = { command = "taplo", args = ["fmt", "-"] }

[[language]]
name = "dockerfile"
file-types = ["Dockerfile", { glob = "Dockerfile" }, { glob = "*.Dockerfile" }]
language-servers = ["docker-langserver"]

[[language]]
name = "docker-compose"
file-types = [
  { glob = "docker-compose.yaml" },
  { glob = "docker-compose.yml" },
  { glob = "compose.yaml" },
  { glob = "compose.yml" },
  { glob = "*.compose.yaml" },
  { glob = "*.compose.yml" },
]
language-servers = ["docker-compose-langserver", "yaml-language-server"]
